# Git, GitHub and CI/CD
.git
.github
.gitignore

# Source and dev files
src
tests
.eslintrc
.prettierrc
tsconfig.json
jest.config.js

# Documentation
docs
*.md
!README.md
!LICENSE.md

# Misc
.DS_Store
.vscode
coverage
node_modules

# Assets not needed in package
assets
screenshots

# Include changelog, developer docs and templates in the published package
!CHANGELOG.md
!DEVELOPER.md
!templates/**

# If you rename LICENSE.md -> LICENSE, replace the LICENSE.md exception above with:
# !LICENSE
